/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: #2e2f42;
  background: #ffffff;
}

.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form-input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  transition: border 250ms ease-in-out;
  outline: transparent;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:focus {
  border: 1px solid #4e75ff;
}

.form-btn {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.photo-card {
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
}

.photo-card a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.photo-card img {
  display: block;
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  padding: 8px 0;
  border-top: 1px solid #808080;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}

.label {
  font-weight: 600;
  line-height: 1.33333;
}

.value {
  line-height: 2;
}

.is-hidden {
  display: none !important;
}

.loader {
  width: 138px;
  height: 138px;
  border: 15px dotted #4e75ff;
  border-radius: 50%;
  display: block;
  margin: 24px auto;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}